<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml 29859 2008-04-09 04:42:44Z jdeolive $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.opengis.net/wps/1.0.0" 
       class = "net.opengis._0.wpsPackage"
       genModel = "wps.genmodel" /> 
  </extension>

</plugin>
