#
# Connection parameters to the EPSG database with HSQL.  Developpers should
# copy this file in their home directory. The URL below searchs for an EPSG
# database  (or creates a new one if no existing database is found)  in the
# current directory. An absolute URL may be specified instead if wanted.
# Example: jdbc:hsqldb:file:/tmp/Geotools/Databases/HSQL/EPSG
#
# This file doesn't need to be distributed in the JAR file. It is
# included here only for maintenance of the EPSG database for HSQL.
#
# Author: Martin Desruisseaux
# Revision: $Id: sqltool.rc 24036 2007-01-24 04:26:27Z desruisseaux $
#

urlid EPSG
url jdbc:hsqldb:file:EPSG
username Geotools
password Geotools

urlid EPSG-admin
url jdbc:hsqldb:file:EPSG
username sa
password
